.why_you{
    
    background: #fff; /* color de fondo */
    color: #0D0C2F; /* color de fuente */
    border: 2px solid #0D0C2F; /* tamaño y color de borde */
    padding: 12px;
    border-radius: 30px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    height: 51px;
    font-size: 20px;
    box-shadow: 0px 4px 6px 0px rgb(64, 73, 106);
    


}

.why_you:hover {
    color: #fff;/* color de fuente hover */
  }
  
.why_you::after {
    content: "";
    background: #0D0C2F; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 12px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  
.why_you:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

 



    

    




/*

position: absolute;
width: 881.91px;
height: 289.81px;
left: -71.04px;
top: 446.26px;
background: url(image.png);/
