@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

*{
    background-color: #FAFCFB;
    font-family: 'Open Sans', sans-serif;
   
 }

.brand{
    margin: 40px;

}

.gei{
    margin: 20px;

}
/* .popup {

    background-color:snow;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 35px;
    opacity: 0.9;
    width: 40vw;
    height: 30vh;
    margin-bottom: 4px;
    border:none; 
    margin: 50px;
} */

.container{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animacion3d{
    width: 90px;
    height: 90px;
    border-radius: 25%;
    opacity: 0.9;
   }

.usuario{
    padding: 100px;
    border-radius: 40px;
    background-color: rgb(254, 255, 255, 75) ;
    box-shadow:  
    3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
    margin: 40px;   

}

.texto{
    margin-bottom: 100px;

}

.botones2{
    display: flex;
    align-items: center;
}

.view{
    background-color: white;    
    border-radius: 50px;
    padding: 20px;     
    text-decoration: none;
    margin: 35px;
    z-index: 1;
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
    position: absolute;
}

.view1{
    z-index: 2;
    padding: 15px;
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) ,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) ;
    margin:20px ;
    margin-left:40px;
 }




.enlaces{
    display: flex;
    justify-content:flex-end;
    margin-right: 15px;
}

.corazon{
    display: flex;
    align-items: center;
}

.imgCorazon{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 3;
    margin-left: 17px;

}
.cor{
    background-color:  #FAFCFB;
    border-radius: 50px;
    padding: 20px;    
    text-decoration: none;
    position: absolute;
    z-index: 2;
    margin-left: 5px;
    margin-top: 0.75px;
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
    
}

.cora1{
    z-index: 1;
    background-color:  #FAFCFB;
    border-radius: 50px;
    padding: 25px;    
    text-decoration: none;    
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) ,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) ; 

}
.imgCompartir{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 3;
    margin-left: 17px;
}

.compartir{
    display: flex;
    align-items: center;
    margin-right: 5px;
    
}
.com{
    background-color:  #FAFCFB;
    border-radius: 50px;
    padding: 20px;    
    text-decoration: none;
    position: absolute;
    z-index: 2;
    margin-left: 5px;
    margin-top: 0.75px;
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
    
}

.comp1{
    z-index: 1;
    background-color:  #FAFCFB;
    border-radius: 50px;
    padding: 25px;    
    text-decoration: none;    
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) ,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) ; 
}

button {
    background-color:linear-gradient(rgb(255, 255, 255) rgb(199, 199, 199))   ;
    border-radius: 50px;
    padding: 20px;
    border:none;
    box-shadow:3px 3px 7px  rgba(160, 145, 145, 0.973) inset,
    -3px -3px 7px  rgba(255, 255, 255, 0.877) inset;

    /* box-shadow: 10px 10px 8px 0 rgba(255, 255, 255, 0.5) inset,
    -4px -4px 10px 0 rgba(0, 0, 0, .2) inset,
    10px 10px 8px 0 rgba(255, 255, 255, 0.5) ,
    -4px -4px 10px 0 rgba(0, 0, 0, .2) ; */
  
}


.usuario{
    z-index: 1;
    background-color: #FAFCFB;
    border-radius: 50px;
    padding: 25px;    
    text-decoration: none;    
    box-shadow: 
    3px 3px 7px 0 rgb(255, 255, 255) ,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) ;   
}



/* a{
    background-color: #FAFCFB;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    text-decoration: none;
    text-decoration-color: rgb(30, 210, 201);
    margin: 50px;
    box-shadow: 3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 7px 0 rgba(0, 0, 0, .2) inset;
} */

.animacion3d {
    padding: 50px 80px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 4px 4px 2px 2px rgba(120, 120, 120, 0.2);
    margin: 40px;
}
.flechita{
    width: 15px;
    height: 15px;
    margin-left: 3px;
}
.final{
    background-color: #FAFCFB;
    border-radius: 10px;
    padding: 20px;
    display: flex;    
    text-decoration: none;
    text-decoration-color: rgb(30, 210, 201);
    margin: 50px;
    box-shadow: 3px 3px 7px 0 rgb(255, 255, 255) inset,
    -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
}

.llevame{
    font-size: 12px;
    display: flex;
    align-self: center;

}