.container
{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: darksalmon;
}

.header-brand
{
  
}
.header-message 
{
    border-radius: 25px;
    background-color: greenyellow;
}
.form-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    width: 90vw;
    height: 90vh;
       
}

.depo-pg-02 {
    background-color: rgb(220, 217, 223);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 20%;
    opacity: 0.9;
    width: 50vw;
    height: 40vh;
}
.form-row
{
    background-color: rgb(224, 103, 103);
    
} 
.alias {

    background-color: rgb(220, 217, 223);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 90px;
    height: 30px;
    border-radius: 25%;
    opacity: 0.9;
    width: 20vw;
    height: 10vh;

}

.country {

    background-color: rgb(220, 217, 223);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 90px;
    height: 30px;
    border-radius: 25%;
    opacity: 0.9;
    width: 20vw;
    height: 10vh;

}
.form-btn-send
 {
    display:flex;
    justify-content: center;
    background-color: rgb(235, 233, 224);
    border-radius: 25px;
    width: 20vw;
    height: 5vh;
    
}