
@media screen 
and (device-width: 360px) 
and (device-height: 640px) 
and (-webkit-device-pixel-ratio: 4) {

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.container
{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(39deg, #888C6C 9.95%, rgba(146, 221, 234, 0.54) 88.83%);
    
}
.header-message 
{
    color: #202124;
    font-family: 'Raleway', sans-serif;
    border-radius: 25px;
    text-shadow: gainsboro;
    font-style: italic;
}

.form-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 90vh;
    font-size: 10px;
    position:relative;
       
}
.form-row
{
    margin-bottom: 26px;
    justify-content: space-around;
    
} 
.depo-pg-02 {
    background-color:snow;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 35px;
    opacity: 0.9;
    width: 50vw;
    height: 40vh;
    
    border:none; 
}

.alias  {
    border-radius: 4%;
}


.alias {

    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    opacity: 0.9;
    padding: 5px; 
    border:none;    
}


.country  {

    background-color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    width:150px;
    height: 25px;
    border-radius: 40px;
    opacity: 0.9;
    border:none; 
 
  
}



.button-send {
    border: none;
    padding: 5px;
    box-shadow: -5px -5px 5px 0px rgba(236, 232, 232, 0.5) ,
    5px 5px 5px 0px rgba(228, 224, 224, 0.5) ;
    width: 90px;
    height: 50px;
    border-radius: 25px;
    padding-top: 30px;
   

   
}

@media only screen and (max-width: 600px)