.container{
   
    display: flex;
    flex-direction: column;
    align-items: center;}

.animacion3d{
    width: 90px;
    height: 90px;
    border-radius: 25%;
    opacity: 0.9;
   
}

    background-color: rgb(136, 140, 108);
    background-color: rgb(146, 221, 234);