
body {
    display: flex;
    position: absolute;
    margin:0px;
}

header {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -145px;
}
div {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
.why_you {
    box-shadow: 0px 4px 6px 0px rgb(64, 73, 106);
    background: rgba(26, 33, 58, 1);
    color:aliceblue; 
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 30px;
    opacity: 0.9;
    width: 301px;
    height: 51px;
    padding: 0px; 
    border:none;    
    margin-top:-34px;
    
}
.message  {
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;   
}
.message01 {

    display: flex;
    justify-content: center;
    color: rgb(35, 35, 34);
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    width: 100vw;
    height: 25vh;
    margin-top:140px;
    
}

.message02 {

    display: flex;
    width: 100vw;
    height: 25vh;
    margin-top: -110px;
    background-image: linear-gradient(blue,snow);
}

/*

position: absolute;
width: 881.91px;
height: 289.81px;
left: -71.04px;
top: 446.26px;
background: url(image.png);/
