
@media screen {
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 4) 
}

.todo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.mision{
    color: #61646e;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}

.video1
{
display: flex;
flex-direction: column;
align-items: center;
}

/*** ESTILOS BOTÓN  ***/
.boton {
  background: #fff; /* color de fondo */
  color: #0D0C2F; /* color de fuente */
  border: 2px solid #0D0C2F; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration:none;

}
.boton:hover {
  color: #fff;/* color de fuente hover */
}
.boton::after {
  content: "";
  background: #0D0C2F; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.boton:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

/*font-family: 'Homemade Apple', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;/*

.todo
@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10) { ... }*/
