#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  color: #202124;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
header {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center; 
}
.logo_header_pg_01 {
  width: 100%;
  max-width: 250px;
  margin-top: 90px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(112.66% 58.05% at 48.31% -1.3%, rgba(255, 255, 255, 0.54) 16.78%, rgba(135, 237, 255, 0) 82.33%),
  linear-gradient(0deg, #AEC8CF, #AEC8CF);
  border:solid #9C895D 4px;
  stroke:#9C895D;
  stroke-dasharray:0.25em;
  padding:3px 3px 3px 3px;
}
.main_title_pg_01 {

  color: rgb(35, 35, 34);
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 76px;
  font-family: 'Roboto';
  font-style: 'Regular';
  font-size: 16px;
  line-height: 15px;
  color: rgb(35, 35, 34);
  text-align: center;
  letter-spacing: 2px;
  max-width: 1024px;
  padding-left: 30px;
  padding-right: 30px; 
}

.main_text_pg_01 p {

  display: flex;
  justify-content: center;
  color:#9C895D;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1.5px; 
  margin-top: 65px;  
  
}
.main_message_pg_01 {

  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.main_button_why_you_pg_01 {
  box-shadow: 0px 4px 6px 0px rgb(64, 73, 106);
  background: rgba(26, 33, 58, 1);   
  font-size: 19px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  border-radius: 30px;
  height: 51px;
  padding: 12px 20px 14px 20px;
  margin-top: -20px;

 }
 .button_pg_01 {
  background: rgba(26, 33, 58, 1);
  color:aliceblue;
  font-size: 18px;
  padding: 6px;
  border: none;

 }
 .main_button_why_you_pg_01:hover {
  background-color: #fff;/* color de fuente hover */
}

.main_button_why_you_pg_01::after {
  content: "";
  background: #0D0C2F; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 12px;
  display: block;
  left: -20%;
  right: -20%;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.main_button_why_you_pg_01:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
.main_pic_flecha_pg_01 {

  Width: 55px;
  Height: 45px;
  margin-top: -27px;
  margin-left: 251px;
  
}
.main_pic_allPeople_pg_01 {

  width:100%;
  max-width: 996px;
  max-height: 980px;  
}

/*************** CSS4 ******************/

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

.header-logo-4{
  margin-top: 20px;
}

.botones{
  margin-bottom: 20px;
}


.container-4{
position:relative;
display: flex;
flex-direction: column;
align-items: center;
background:radial-gradient(112.66% 58.05% at 48.31% -1.3%, rgba(255, 255, 255, 0.54) 16.78%, rgba(135, 237, 255, 0) 82.33%),
linear-gradient(0deg, #AEC8CF, #AEC8CF);

}
.main-posicionBoton-4{

  display: flex;
  justify-content: flex-end;
}
.main-botones-4{
  display: flex;
  align-items:center;
}

.main-lupita-4{
  background-color: #FAFCFB;
  border-radius: 50px;
  padding: 20px;    
  text-decoration: none;
  position: absolute;
  z-index: 2;
  margin-left: 5px;   
  box-shadow: 
  3px 3px 7px 0 rgb(255, 255, 255) inset,
  -3px -3px 5px 0 rgba(0, 0, 0, .2) inset;
  
}

.main-lupita1-4{
  z-index: 1;
  background-color: #FAFCFB;
  border-radius: 50px;
  padding: 25px;    
  text-decoration: none;    
  box-shadow: 
  3px 3px 7px 0 rgb(255, 255, 255) ,
  -3px -3px 5px 0 rgba(0, 0, 0, .2) ;   
}

.main-imglupita-4{
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 3;
  margin-left: 17px;

}



.main-balon1-4{

  padding:  10px 20px;  
  border-radius: 20px;
  background-color: rgb(255, 255, 255) ;
  box-shadow: 4px 4px 2px 2px rgba(120, 120, 120, 0.2);
  

}
.main-balon2-4{

  padding: 10px 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255) ;
  box-shadow: 4px 4px 2px 2px rgba(120, 120, 120, 0.2);
  
 

}
.main-balon3-4{

  padding: 10px 10px;
  border-radius: 20px;
  background-color: rgb(250, 250, 250) ;
  box-shadow: 4px 4px 2px 2px rgba(120, 120, 120, 0.2);
  
 

}
.main-balon4-4{
  padding: 10px 10px;
  border-radius: 20px;
  background-color: rgb(250, 250, 250) ;
  box-shadow: 4px 4px 2px 2px rgba(120, 120, 120, 0.2);
  

}

*{
    margin: 0px;
    padding: 0px;
    color: #202124;
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}


/*** ESTILOS BOTÓN  ***/
.main-botonnext-4 {
  background: #fff; /* color de fondo */
  color: #0D0C2F; /* color de fuente */
  border: 2px solid #0D0C2F; /* tamaño y color de borde */
  padding: 12px;
  border-radius: 30px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  height: 51px;
  font-size: 20px;
  box-shadow: 0px 4px 6px 0px rgb(64, 73, 106);
    
}
  .main-botonnext-4:hover {
    color: #fff;/* color de fuente hover */
  }
  .main-botonnext-4::after {
    content: "";
    background: #0D0C2F; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 12px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .main-botonnext-4:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

  /*** ESTILOS BOTÓN  ***/
.main-botonhome-4 {
  background: #fff; /* color de fondo */
  color: #0D0C2F; /* color de fuente */
  border: 2px solid #0D0C2F; /* tamaño y color de borde */
  padding: 12px;
  border-radius: 30px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  text-decoration:none;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  height: 51px;
  font-size: 20px;
  box-shadow: 0px 4px 6px 0px rgb(64, 73, 106);
    
}
  .main-botonhome-4:hover {
    color: #fff;/* color de fuente hover */
  }
  .main-botonhome-4::after {
    content: "";
    background: #0D0C2F; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 12px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .main-botonhome-4:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

section{
 
  display: flex;
  
  margin-top: 50px;
  margin-bottom: 250px;


}

/************ CSS4  ************/
